<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fast News{% endblock %}</title>
    <!-- Use relative_static_path instead of static_url -->
    <link rel="stylesheet" href="{{ relative_static_path }}/css/main.css">
    <link rel="stylesheet" href="{{ relative_static_path }}/css/components/header.css">
    <link rel="stylesheet" href="{{ relative_static_path }}/css/components/sidebar.css">
    <link rel="stylesheet" href="{{ relative_static_path }}/css/components/footer.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'components/header.html' %}
    {% endblock %}
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    {% block sidebar %}
        {% include 'components/sidebar.html' %}
    {% endblock %}
    
    {% block footer %}
        {% include 'components/footer.html' %}
    {% endblock %}
    
    {% block scripts %}
        <script src="{{ relative_static_path }}/js/main.js"></script>
    {% endblock %}
</body>
</html>
