
<header class="site-header">
    <div class="header-content">
        <div class="logo">
            <a href="{{ relative_root_path }}/homepage.html">Fast fact checked news</a>
        </div>
        <div class="hamburger">&#9776;</div>
        <nav class="main-nav">
            <ul class="nav-left">
                <li><a href="{{ relative_root_path }}/homepage.html">Home</a></li>
                {% set direct_categories = header_categories[:5] %}
                {% set more_categories = header_categories[5:] %}
                {% for category in direct_categories %}
                    <li><a href="{{ relative_categories_path }}/category_{{ category.slug }}.html">{{ category.name }}</a></li>
                {% endfor %}
                {% if more_categories %}
                <li class="dropdown more">
                    <a href="#">More</a>
                    <ul class="dropdown-menu">
                        {% for category in more_categories %}
                            <li><a href="{{ relative_categories_path }}/category_{{ category.slug }}.html">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav-right">
                <li><a href="{{ relative_root_path }}/about.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>